.container01{
    display: flex;
    height: 80px;
    justify-content: space-between;
}

.nav-links{
    align-items: center;
    display: flex;
    margin-right: 15px;
    width: 15%;
    justify-content: space-around;
}

.logo{
    margin-left: 25px;
    width: 130px;
}

/* icones do cabecalho */
.navIcones{
    padding: 10px;
    transform: scale(1.6);
    transition: all 0.5s;   
}
.navIcones:hover{
    transform: scale(2);
}

/* ícone de coração */
#coracaoIcone{
    color: red;
}

/* ícone de usuário */
#userIcone{
    color: #D9D9D9;
}

/* ícone de cesta */
#cestaIcone{
    color: #FBA16C;
}

.sobre-nos{
    color: #FBA16C;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
}

.sobre-nos:hover{
    text-decoration: underline;
}