.cabecalho-simples{
    display: flex;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #00000030;
    height: 100px;
    align-items: center;
}

.fa-arrow-left{
    background: #FE4617;
    padding: 5px;
    border-radius: 100%;
    color: #fff;
    margin-left: 25px;
    justify-content: center;
    transform: scale(1.2);
}

.container_logo_cabecalho-simples{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_cabecalho-simples{
    transform: scale(0.6);
    margin: 0 auto;
}